---
layout: page
title: Categories
---

<div class="tags-expo">
  <div class="tags-expo-list">
    {% for tag in site.categories %}
    <a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
    {% endfor %}
  </div>
  <hr/>
  <div class="container">
	{% for tag in site.categories %}
		<h2 class="category-title" id="{{ tag[0] | slugify }}" >{{ tag[0] }}</h2>		
		{% for post in tag[1] %}
			<article class="post-item">
				<span class="post-meta date-label">{{ post.date | date: "%Y-%m-%d" }}</span>
				<div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
			</article>
		{% endfor %}
	{% endfor %}
  </div>
  
</div>









